<h3>Edit {{this.data.selectedProject.Name}}</h3>
<form autocomplete="off" [formGroup]="projectForm" >
    <div>Name: <input type="text" formControlName="Name"></div>
    <div>Priority: <input type="number" formControlName="Priority"></div>
</form>
<div mat-dialog-actions>
    <button (click)="edit()">Edit Project</button>
    <button (click)="cancel()">Cancel</button>
</div>