<h3>Create Project</h3>
<form autocomplete="off" [formGroup]="projectForm" >
    <div>Name: <input type="text" formControlName="Name"></div>
    <div>Priority: <input type="number" formControlName="Priority"></div>
    <div mat-dialog-actions>
        <button (click)="create()">Create Project</button>
        <button (click)="cancel()">Cancel</button>
    </div>
</form>
