.main-menu {
    margin: auto;
    height: 800px;
    width: 100%;
    text-align:center;
    border: 3px solid #000000;
    border-radius: 10px;
    justify-content: space-around;
}
.panel {
    height: 500px;
    width: calc(100% / 4);  
    display: inline-block;
    vertical-align: top;   
    overflow: auto;
    margin:2%;    
    padding:20px;
    border: 1px solid #000000;
    border-radius: 10px;
    scroll-behavior: auto;
}
.task-panel {
    display: inline-block;
    margin:2%;    
    padding:20px;
    height: 200px;
    width: 60%; 
    vertical-align: top;  
    border: 1px solid #000000;
    overflow: auto;
    scroll-behavior: auto;
}
.item {
    padding: 5px;
    margin: 20px;
    background-color:rgb(184, 184, 184)
}
.item > div{
    display: inline-block;
}
.selected{
    padding: 5px;
    margin: 20px;
    background-color:rgb(226, 226, 226);
}
.selected > div{
    display: inline-block;
}
.link{
    display: block;
    margin: 6px;
}
.spaced {
    margin: 30px;
}
