<div>
    <button class="spaced" (click)="openCreateProjectDialog()">Create Project</button>
    <button class="spaced" (click)="getAllProjects()">Load All Projects</button>
    <button class="spaced" (click)="getNotStartedProjects()">Load Not Started Projects</button>
    <button class="spaced" (click)="getActiveProjects()">Load Active Projects</button>
    <button class="spaced" (click)="getCompletedProjects()">Load Completed Projects</button>
</div>
<div class="main-menu">

    <div class="panel" *ngIf="projects">
        <h1>Projects</h1>
        <div [ngClass]="{'item': project!=this.selectedProject, 'selected': project==this.selectedProject && this.selectedProject!=null}" 
        (click)="selectProject(project.Id)" 
        *ngFor="let project of projects">
            <div>
                <pre>{{project.Name}}   </pre>
            </div>
            <div>
                <pre>{{project.StartDate!=null ? formatedDate(project.StartDate) : "Not started yet"}}    </pre>
            </div>
            <div>
                <pre>{{project.Priority}}</pre>   
            </div>

        </div>
    </div>

    <div class="panel">
        <h1>Selected Project</h1>
        <div *ngIf="!selectedProject">
            Select Project from previous menu.
        </div>
        <div *ngIf="selectedProject">
            <h2>Project Name = {{selectedProject.Name}}</h2>
            <h2>Status = {{selectedProject.ProjectStatus.Name}}</h2>
            <p *ngIf="selectedProject.StartDate">Start Date = {{formatedDateTime(selectedProject.StartDate)}}</p>
            <p *ngIf="selectedProject.CompletionDate">Completion Date = {{formatedDateTime(selectedProject.CompletionDate)}}</p>
            <h3>Tasks</h3>
            <div class="task-panel">
                <div [ngClass]="{'item': task!=this.selectedTask, 'selected': task==this.selectedTask}" (click)="selectTask(task.Id)" *ngFor="let task of tasks">
                    <div>
                        <pre>{{task.TaskStatus.Name}}   </pre>
                    </div>
                    <div>
                        <pre>{{task.Name}}    </pre>
                    </div>
                    <div>
                        <pre>{{task.Priority}}</pre>   
                    </div>
                </div>
            </div>
            <button class="link" (click)="openCreateTaskDialog()">Create Task</button>
            <button class="link" (click)="deleteProject()">Delete</button>
            <button class="link" (click)="openEditProjectDialog()">Edit</button>
            <button class="link" (click)="projectComplete()" *ngIf="selectedProject.ProjectStatus.Name != 'Complete'">Complete Project</button>
        </div>
    </div>

    <div class="panel">
        <h1>Selected Task</h1>
        <div *ngIf="!selectedTask">
            Select Project, then select Task.
        </div>
        <div *ngIf="selectedTask">
            <h2>Task Name = {{selectedTask.Name}}</h2>
            <h2>Status = {{selectedTask.TaskStatus.Name}}</h2>
            <p>Description = {{selectedTask.Description}}</p>

            <button class="link" (click)="deleteTask()">Delete</button>
            <button class="link" (click)="openEditTaskDialog()" >Edit</button>
            <button class="link" (click)="taskStartProgress()"  *ngIf="selectedTask.TaskStatus.Name == 'To Do'">Start progress</button>
            <button class="link" (click)="taskDone()" *ngIf="selectedTask.TaskStatus.Name == 'In Progress'">Complete</button>
        </div>
    </div>
</div>


