<h3>Create Task for {{this.data.selectedProject.Name}}</h3>
<form autocomplete="off" [formGroup]="taskForm" >
    <div>Name: <input type="text" formControlName="Name"></div>
    <div>Description: <input type="text" formControlName="Description"></div>
    <div>Priority: <input type="number" formControlName="Priority"></div>
    <div mat-dialog-actions>
        <button (click)="create()">Create Task</button>
        <button (click)="cancel()">Cancel</button>
    </div>
</form>
