<h3>Edit {{this.data.selectedTask.Name}}</h3>
<form autocomplete="off" [formGroup]="taskForm" >
    <div>Name: <input type="text" formControlName="Name"></div>
    <div>Description: <input type="text" formControlName="Description"></div>
    <div>Priority: <input type="number" formControlName="Priority"></div>
    <div mat-dialog-actions>
        <button (click)="edit()">Edit Task</button>
        <button (click)="cancel()">Cancel</button>
    </div>
</form>
